*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    border: 0px black solid;
    font-family: 'Montserrat';
    color: #000000;
    /* font-size: 20px; */

    
}

body{
    overflow-x: hidden;
}


.nav_logo{
    margin: 10px 30px 30px 50px;
}
.nav_list{
    margin-right: 30px;
    float: right;
    
}
.nav_list li{
    display: inline-block;
    margin-left: 100px ;
    margin-top: 30px;
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown_contect{
    position:absolute;
    display: none;
    z-index: 1;
    min-width: 180px;
    padding: 10px 16px;
    background-color: #EEEEEE;
    color: #444444;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: -30px;
    
}
.dropdown:hover .dropdown_contect{
    display: block;
}
a{
    text-decoration: none;
}
.list_item{
    background-color: #D9D9D9;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;
}
.dropdown{
    background-color: #D9D9D9;
    padding: 10px 30px;
    text-align: center;
    border-radius: 10px;

}
.nav-hover:hover{

    background-color: #1a0863;
    cursor: pointer;
    color: #FFFFFF;
}
.container{
    background-image: url(background.png);
    position: relative;
    width: auto;
    height: 850px;
    background-repeat: no-repeat;
    padding: auto;
}
 .Team_text{
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 100px;
    right: 50px;
    font-size: 45px;
    font-weight: 600;

} 
.img-gallery-whole-div {
    margin: 0px 0px 40px 0px;

}
.top_heading{
    font-size: 30px;
    font-weight: 600;
}
.image_gallery{
    margin-left: 40px;
    line-height: 2;
    margin-top: 40px;
}
.image{
    margin-top: 20px;
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 15px;
    
}
.images{
    box-shadow: 22px 32px 61px -29px rgba(0,0,0,0.47);
    -webkit-box-shadow: 22px 32px 61px -29px rgba(0,0,0,0.47);
    -moz-box-shadow: 22px 32px 61px -29px rgba(0,0,0,0.47);
    border: none;
    border-radius: 40px;

    

}
.image_caption{
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}
.contact_form{
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 0px 50px 50px 50px;
    padding: 30px 30px 30px 30px; 
}

.contact_form_heading{
    text-align: center;
    padding: 0px 0px 20px 0px ;
    font-size: 30px;
    color: #000000;
    font-weight: 600;
}
label{
    font-weight: 600;
}
input[type=text]{
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    
}
.styling{
    margin-bottom: 20px;
    margin-top: 20px;
}
input[type=button]{
    background-color: #06C0CC;
    border-radius: 10px;
    margin: 30px 510px;
}
#btn{
    color:#FFFFFF;
    padding: 10px 50px;
    cursor: pointer;
}
#btn:hover{
    background-color:#1a0863;
    color: #FFFFFF;

}
.Box_game_header{
    margin-left: 50px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
}
/* .box_position{
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 0px 50px 300px 50px;
    padding: 30px 30px 40px 30px;
} */
.Game_box{
    position: relative;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin: 0px 50px 50px 50px;
    height: 500px;

}
.blue_box{
    position: absolute;
    left: 450px;
    top: 200px;
}
.red_box{
    position: absolute;
    left: 600px;
    z-index: 1;
    top: 100px;
    
}
.green_box{
    position: absolute;
    left: 400px;
    top: 50px;
    z-index: 3;
}
.footer_content{
    background-color: #D9D9D9;
    padding: 20px 30px;
    

}
.footer_logo{
    margin-left: 20px;
    margin-top: 20px;
    height: 45px;
}
.footer_paragraph{
    margin-top: 40px;
    margin-left: 30px;
    font-size: 14px;

}
.footer_table{
    float: right;
    margin-top: -140px;
    margin-right: 0px;
    position: relative;
    left: 40px;
    font-size: 14px;
}
.table_heading{
    text-align: left;
    font-size: 14px;
    
}
td{
    text-align: left;
    height: 30px;
    line-height: 2;
    font-size: 14px;
    
}
table{
    border-collapse: separate;
    border-spacing: 40px 0;
    font-size: 14px;
}
::-webkit-input-placeholder { /* Edge */
    color: #FFFFFF;
    
    font-size: 18px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: #FFFFFF;
    font-size: 18px;

  }
  
  ::placeholder {
    color: #FFFFFF;
    font-size: 18px;
  }
  .gamming{
    transition: transform .7s ease-in-out;
  }
  .gamming:hover {
    transform: rotate(360deg);
  }